ul{list-style: none;}
a{text-decoration: none;}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.con{
    padding: 300px auto;
}

.whole{
    width: 500px;
    height: 900px;
    margin: 0 auto;
}

.coupon{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.sub-coupon{
    position: relative;
}

.coupon_info{
    position: absolute;
    top: 160px;
    left: 90px;
    z-index: 1;
    color: rgb(59, 53, 53);
    font-size: 25px;
    width: 350px;
    font-weight: bold;
}